@font-face {
    font-family: "Corbel";
    src: url("./fonts/CORBELB.TTF") format("truetype");
}

@font-face {
    font-family: "Futura XBlk";
    src: url("./fonts/FuturaXBlkBT.ttf") format("truetype");
}

@font-face {
    font-family: "Futura Md";
    src: url("./fonts/FuturaMediumBT.ttf") format("truetype");
}

:root{
    --width-focus: 45rem;
    --color_black: black;
    --color_white: white;
    --color_yellow: #FFF200;
    --color_blue: #00779b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whole_page {
    background-color: var(--color_white);
    min-width: 100%;
    min-height: 100%;
}

.focus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10rem;
    margin-top: 5rem;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: var(--color_black);
    width: var(--width-focus);
    height: auto;
}

.header__headline {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0.5rem;
}

.header1 {
    font-family: "Futura xBlk";
    color: var(--color_yellow);
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: .7px;
    margin-right: 0.1rem;
    cursor: pointer;
}

.header2 {
    font-family: "Futura xBlk";
    color: var(--color_black);
    font-size: 4.5rem;
    text-shadow: -0.5px -1px 0 var(--color_yellow), 0.5px -1px 0 var(--color_yellow), -0.5px 1px 0 var(--color_yellow), 0.5px 1px 0 var(--color_yellow);
    text-transform: uppercase;
    letter-spacing: .7px;
    cursor: pointer;
}

.header__paragraphs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.header__content {
    font-family: "Futura Md";
    color: var(--color_white);
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin: 0 1.5rem 0 1.5rem;
}

.content__news:hover {
    color:var(--color_yellow);
}

.content__contact:hover {
    color:var(--color_yellow);
}

.news__content{
    width: var(--width-focus);
    height: 22rem;
    background-color: var(--color_black);
    font-family: "Futura Md";
    text-align: right;
    cursor: default;
    overflow: auto;
}

.news__header{
    color: var(--color_yellow);
    font-size: 1.75rem;
    margin: 1rem 1rem 1rem 1rem;
}

.news{
    color: var(--color_yellow);
    font-size: 1.75rem;
    margin: 1rem 1rem 1rem 1rem;
    line-height: 2.5rem;
}

.news__separator{
    border-color: var(--color_yellow);
    width: 50%;
    margin: 1rem auto 0.5rem auto;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: var(--width-focus);
    height: auto;
    background-color: var(--color_black);
    font-family: "Futura Md";
    padding-bottom: 1rem;
    cursor: default;
}
.contact__name{
    display: flex;
    flex-direction: row;
    height: 1rem;
    margin: 1rem 1rem 0 1rem;
}

.special_prefix{
    position: relative;
    top: 0.9rem;
    color: var(--color_yellow);
    margin-right: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.name__paragraph {
    color:var(--color_yellow);
    font-size: 2.2rem;
    font-weight: 700;
}

.contact__paragraph {
    color:var(--color_yellow);
    margin: 0.1rem 1rem 0.25rem 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
}

.contact__web-address {
    text-decoration: underline;
    color: var(--color_blue);
}

.contact__address{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 3rem 0 3rem 0;
}

.contact__web {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    margin: -1rem 0 0 0;
}

.image{
    width: var(--width-focus);
    height: auto;
    background-size: contain;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.content__focus {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 20rem;
    right: 15rem;
    margin-top: 1rem;
}

.whole__content {
    font-family: "Corbel";
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: -1.25rem;
}

.whole__content:hover {
    color: grey;
}

@media (max-width: 80em) {
    :root{
        --width-focus: 43rem;
    }

    .whole_page{
        overflow: scroll;
    }

    .focus{
        left: 3rem;
        margin-top: 2rem;
    }

    .content__focus{
        bottom: 1rem;
        right: 1rem;
    }
}

@media (max-width: 64em) {
    :root{
        --width-focus: 30rem;
    }

    .focus{
        left: 4rem;
        margin-top: 2rem;
    }

    .header1{
        font-size: 3rem;
    }

    .header2{
        font-size: 3rem;
    }

    .header__content{
        font-size: 2rem;
    }

    .news__content{
        height: 17rem;
    }

    .news__header{
        font-size: 1.3rem;
    }

    .news{
        font-size: 1.3rem;
        line-height: 2.2rem;
    }

    .content__focus{
        bottom: 7rem;
        right: 1rem;
    }

    .whole__content{
        font-size: 1.9rem;
        margin-bottom: -0.75rem;
    }

}

@media (max-width: 57em) {
    .news__content{
        height: 19rem;
    }

    .special_prefix{
        font-size: 1rem;
        top: 1rem;
    }
    
    .name__paragraph {
        font-size: 2rem;
    }
    
    .contact__paragraph {
        font-size: 2rem;
    }

    .contact__address{
        margin: 2.5rem 0 2.5rem 0;
    }

    .content__focus{
        bottom: 30rem;
        right: 3rem;
    }
}

@media screen and (max-width: 57em) and (min-height: 87em) {
    .content__focus{
        bottom: 45rem;
        right: 3rem;
    }
}

@media (max-width: 50em) {
    .whole__content{
        margin-bottom: -0.85rem;
    }
}

@media screen and (max-width: 50em) and (min-height: 80em) {
    .content__focus{
        bottom: 40rem;
    }
}

@media (max-width: 48em) {
    .content__focus{
        bottom: 1.5rem;
        right: 3rem;
    }

    .special_prefix{
        font-size: 0.75rem;
    }

    .name__paragraph{
        font-size: 1.75rem;
    }

    .contact__paragraph{
        font-size: 1.75rem;
    }

    .content__focus{
        bottom: 20rem;
        right: 3rem;
    }
}

@media (max-width: 40.125em) {
    :root{
        --width-focus: 24rem;
    }

    .focus{
        left: 2rem;
        margin-top: 1rem;
    }

    .header1{
        font-size: 2.3rem;
    }

    .header2{
        font-size: 2.3rem;
    }

    .header__content{
        font-size: 1.6rem;
    }

    .news__content{
        height: 18rem;
    }

    .news{
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .special_prefix{
        top: 0.7rem;
    }

    .name__paragraph{
        font-size: 1.5rem;
    }

    .contact__paragraph{
        font-size: 1.5rem;
    }

    .contact_address{
        margin: 2rem 0 2.5rem 0;
    }

    .content__focus{
        bottom: 10rem;
        right: 3rem;
    }

    .whole__content{
        font-size: 1.5rem;
        margin-bottom: -0.6rem;
    }
}

@media (max-width: 26em) {
    :root{
        --width-focus: 21rem;
    } 

    .focus{
        left: 1rem;
    }

    .header1{
        font-size: 2.1rem;
    }

    .header2{
        font-size: 2.1rem;
    }

    .header__content{
        font-size: 1.4rem;
    }

    .news{
        font-size: 1.15rem;
        line-height: 2rem;
    }

    .special_prefix{
        top: 0.7rem;
    }

    .name__paragraph{
        font-size: 1.4rem;
    }

    .contact__paragraph{
        font-size: 1.4rem;
    }


    .content__focus{
        bottom: 10rem;
        right: 2rem;
    }

    .whole__content{
        margin-bottom: -0.6rem;
    }
}

@media (max-width: 22.5em) {
    :root{
        --width-focus: 20rem;
    }

    .focus{
        left: 0.3rem;
    }

    .header1{
        font-size: 1.9rem;
    }

    .header2{
        font-size: 1.9rem;
    }

    .header__content{
        font-size: 1.2rem;
        margin: 0.5rem 0.5rem 0 0.5rem;
    }

    .news__content{
        height: 16.5rem;
    }

    .news{
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .special_prefix{
        top: 0.5rem;
        font-size: 0.8rem;
    }

    .name__paragraph{
        font-size: 1.3rem;
    }

    .contact__paragraph{
        font-size: 1.3rem;
        margin-bottom: 0.1rem;
    }

    .content__focus{
        bottom: 10rem;
        right: 1rem;
    }

    .whole__content{
        font-size: 1.4rem;
    }
}

@media (max-width: 20em) {
    :root{
        --width-focus: 17rem;
    }

    .focus{
        left: 0.32em;
    }

    .header1{
        font-size: 1.6rem;
    }

    .header2{
        font-size: 1.6rem;
    }

    .header__content{
        font-size: 1.3rem;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .news__content{
        height: 15.5rem;
    }

    .news{
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .special_prefix{
        top: 0.4rem;
        font-size: 0.6rem;
    }

    .name__paragraph{
        font-size: 1rem;
    }

    .contact__paragraph{
        font-size: 1rem;
        margin-bottom: 0.1rem;
    }

    .image{
        position: relative;
        z-index: 8;
    }

    .content__focus{
        bottom: 2rem;
        right: 1rem;
    }

    .whole__content{
        font-size: 1.3rem;
        margin-bottom: -0.65rem;
    }
}

@media screen and (max-width: 17.5em) and (min-height: 40em) {
    :root{
        --width-focus: 16.5rem;
    }

    .focus{
        left: 0.3em;
    }

    .content__focus{
        bottom: 10rem;
        right: 1rem;
    }

    .whole__content{
        font-size: 1.3rem;
        margin-bottom: -0.6rem;
    }
}