@font-face {
    font-family: "Corbel";
    src: url("./fonts/CORBELB.TTF") format("truetype");
}

@font-face {
    font-family: "Futura XBlk";
    src: url("./fonts/FuturaXBlkBT.ttf") format("truetype");
}

@font-face {
    font-family: "Futura Md";
    src: url("./fonts/FuturaMediumBT.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whole_page {
    background-color: white;
    min-width: 100%;
    min-height: 100%;
}

.focus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10rem;
    margin-top: 5rem;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #003646;
    width: 20rem;
    height: auto;
}

.header__headline {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0.5rem;
}

.header1 {
    font-family: "Futura xBlk";
    color: #FFF200;
    text-transform: uppercase;
    letter-spacing: .7px;
    margin-right: 0.1rem;
    cursor: pointer;
}

.header2 {
    font-family: "Futura xBlk";
    color: #003646;
    text-shadow: -1px -1px 0 #FFF200, 1px -1px 0 #FFF200, -1px 1px 0 #FFF200, 1px 1px 0 #FFF200;
    text-transform: uppercase;
    letter-spacing: .7px;
    cursor: pointer;
}

.header__paragraphs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__content {
    font-family: "Futura xBlk";
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}

.content__news:hover {
    color:#FFF200;
}

.content__contact:hover {
    color:#FFF200;
}

.news__content{
    width: 20rem;
    height: auto;
    background-color: #003646;
    font-family: "Futura Md";
    text-align: right;
    cursor: default;
}

.news{
    color: #FFF200;
    margin: 1rem 1rem 1rem 1rem;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 20rem;
    height: auto;
    background-color: #003646;
    font-family: "Futura Md";
    padding-bottom: 1rem;
    cursor: default;
}

.contact__pointer {
    cursor: pointer;
}

.contact__name{
    display: flex;
    flex-direction: row;
    height: 1rem;
    margin: 1rem 1rem 0.75rem 1rem;
}

.special_prefix{
    position: relative;
    top: 0.5rem;
    color: #FFF200;
    margin-right: 0.3rem;
    font-size: 0.5rem;
    font-weight: 700;
}

.name__paragraph {
    color:#FFF200;
    font-weight: 700;
}

.contact__paragraph {
    color:#FFF200;
    margin: 0.3rem 1rem 0 1rem;
    font-weight: 700;
    text-decoration: none;

}

.end__contact {
    margin-bottom: 0.75rem;
}

.image{
    width: 20rem;
    height: auto;
    background-size:contain;
}

.content__focus {
    z-index:3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 10rem;
    right: 10rem;
    
}


.whole__content {
    font-family: "Corbel";
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.whole__content:hover {
    color: grey;
}


@media (max-width: 56.25em) {
    h1 {
        font-size: 3.5rem;
    }

    img {
        width: 30rem;
    }
}

@media (max-width: 40.125em) {
    h1 {
        font-size: 3rem;
    }

    img {
        width: 22rem;
    }
}

@media (max-width: 28.125em) {
    h1 {
        font-size: 2rem;
    }

    img {
        width: 20rem;
    }
}

@media (max-width: 20em) {
    h1 {
        font-size: 2rem;
    }

    img {
        width: 17rem;
    }
}